<section class="features" id="features">

    <h1 class="heading"> Our Team</h1>

    <div class="box-container">

        <div class="box">
            <img src="../../assets/Images/M.png" alt="">
            <h3><span>Sharjeel </span>M.</h3>
            <p>My name is Sharjeel M. I am student of cust</p>

        </div>

        <div class="box">
            <img src="../../assets/Images/B.png" alt="">
            <h3><span>Muhammad</span> Bilal</h3>
            <p>My name is Bilal I am student of cust</p>

        </div>

        <div class="box">
            <img src="../../assets/Images/J.png" alt="">
            <h3><span>Jibran</span> Malik</h3>
            <p>My name is Jibran I am student of cust</p>

        </div>

    </div>

</section>