
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');

:root{
  --purple:#814096;
  --pink:#F83292;
  --gradient:linear-gradient(90deg, var(--purple), var(--pink));
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;

}

*::selection{
  background:var(--pink);
  color:#fff;
}



html{
  font-size: 70%;
  overflow-x: hidden;
}


body{
  background:#f9f9f9;
}



section{
  min-height: 100vh;
  padding:0 9%;
  padding-top: 15rem;
  padding-bottom: 2rem;
}




.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box{
  flex:1 1 28rem;
  background:#fff;
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  margin:1.5rem;
  padding:3rem 2rem;
  border-radius: .5rem;
  text-align: center;
  transition: .2s linear;
}

.box h3{

  text-align: center;
  font-size:4rem;
  color: var(--purple);
  text-transform: uppercase;
}
.box h3 span{
  font-size: 2.2rem;
  color:var(--pink);
  text-transform: uppercase;
}


.features .box-container .box img{
  height: 15rem;
}

.features .box-container .box h3{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.features .box-container .box p{
  font-size: 1.3rem;
  color:#666;
  padding: 1rem 0;
}
