
<section class="features" id="features">

  <h1 class="heading"> Our Team</h1>

  <div class="box-container">

      <div class="box">
          <!-- <img src="../../assets/Images/Resume.png" alt=""> -->
          <h3><span>Sharjeel </span>Mazhar</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>

      </div>

      <div class="box">
          <!-- <img src="../../assets/Images/Recomendation.png" alt=""> -->
          <h3><span>Muhammad</span> Bilal</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>

      </div>

      <div class="box">
          <!-- <img src="../../assets/Images/InterestAssesment.png" alt=""> -->
          <h3><span>Jibran</span> Malik</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>

      </div>

  </div>

</section>
