<section id="ProductData">
  <div class="container">
    <h2>Products</h2>
    <p>These are the products we offer to you</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of Products">
          <td> {{p.Id}} </td>
          <td> {{p.Name}} </td>
          <td> {{p.Price}} </td>
          <td> {{p.Quantity}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
